/* first section */
a.active{
    color: var(--mine) !important;
}
.fist-content{
    height: 100%;
    padding: calc((10vw + 15vh) / 2) 0 0 10vw;
    line-height: rem;
    /* background-image:  linear-gradient(15deg, var(--mine) 25%, var(--my-heaven) 50%); */
}

.bloger{
    background-color: var(--my-heaven);
}
.text{
    display: flex;
    justify-content: space-between;
    margin-top: -2rem;
}
.text h3{
    /* color: var(--mine); */
    color: #000;
    font-weight: 900;
    font-family: fantasy;
    /* border-left: 3px solid var(--look); */
    height: 8vh;
}
.text p{
    color: var(--mine);
    font-family: cursive;
    font-weight: 700;
}
/* end of first section */

/* second section */
.all-blog h4{
    display: flex;
    justify-content: flex-end;
    margin-top: -2rem;
    padding: 15px;
}
.all-blog{
    padding: 40px;
}

.blog-2{
    box-shadow: 8px 3px 2px rgba(0,0,0,0.2);
}
.blog-1 p:nth-child(2){
    display: flex;
    justify-content: flex-start;
    color: var(--mine);
    font-size: small;
    font-weight: 700;
    font-family: cursive;
}
.blog-1 a{
    text-decoration: none;
    display: flex;
    justify-content: flex-start;
    color: var(--mine);
    font-size: small;
    font-weight: 700;
    font-family: cursive;

}
.card{
    border: none;
}
.blog-text h5{
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.blog-text a{
  text-decoration: none;
  color: var(--mine);  
  font-weight: 700;
}
.blog-text a p:hover{
        transform: translateY(-5px);
        background-color: var(--my-heaven);
        color: var(--mine);
}
.all-text {
     margin-top: 1.7rem;
     
}
/* end of second and third sec */


.alert{
    background-color: var(--mine);
    width: 40%;
     position: fixed;
      bottom: 0;
      right: 0;
}
.all-alert{
    display: flex;
}
.alert-img img{
   width: 6rem;
   height: 6rem;
   object-fit: cover;
}
.all-alert{
    display: flex;
}
.alert-text{
    margin-left: 30px;
}
.alert-text h4{
    color: white;
    font-size: bolder;
}
.alert-text p{
    color: rgba(255, 255, 255, 0.9);
}
.alert-input input{
    width: 100%;
    padding: 8px;
    border: 1px solid #555;
    outline: none;
    border-radius: 5px;
}
.alert-input{
    text-align: center;
}
.alert-input button{
    background-color: white;
    margin-top: 15px;
    border: none;
    padding: 8px 15px;
    border-radius: 6px;

}
.fa-times{
    color: white;
    cursor: pointer;
}

@media screen and (max-width:500px){

    .alert{
        background-color: var(--mine);
        width: 100%;
         position: fixed;
          bottom: 0;
          left: 0;
    }
}




.waviy span {
    font-family:  cursive;
    position: relative;
    display: inline-block;
    color: #000;
    text-transform: uppercase;
    animation: waviy 1s infinite;
    animation-delay: calc(.1s * var(--i));
    
  }
  @keyframes waviy {
    0%,40%,100% {
      transform: translateY(0)
    }
    20% {
      transform: translateY(-20px)
    }
  }